@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: rgb(187, 121, 121);
  font-family: "Roboto";
  font-size: 4rem;
}
